<%= form_for ([@shop, @barber]) do |instance_post| %>
  <% if @barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
      <% @barber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_field">
      <p>
        <%= instance_post.label :name %><br />
        <%= instance_post.text_field :name %>
      </p>
    </div>



      <div class="form_field">
          <p>
            <%= instance_post.label :email %><br />
            <%= instance_post.text_field :email %>
          </p>
        </div>

        <div class="form_field">
            <p>
              <%= instance_post.label :password %><br />
              <%= instance_post.password_field :password %>
            </p>
          </div>

        <div class="form_field">
            <p>
              <%= instance_post.label :password_confirmation %><br />
              <%= instance_post.password_field :password_confirmation %>
            </p>
          </div>

    <div class="form_field">
      <p>
        <%= instance_post.label :phone %><br />
        <%= instance_post.text_area :phone %>
      </p>
    </div>

    <div class="form_field">
      <p>
        <%= instance_post.label :instagram %><br />
        <%= instance_post.text_area :instagram %>
      </p>
    </div>

    <div class="form_field">
      <p>
        <%= instance_post.label :avatar %><br />
        <%= instance_post.file_field :avatar %>
      </p>
    </div>

    <div class="action_button">
      <p>
        <%= instance_post.submit 'save this sir', class: "save_button" %>
      </p>
    </div>
<% end %>
