<p id="notice"><%= notice %></p>



<h1>Listing Barbers</h1>

<h1>Style</h1>

<% @barbers.each do |barber| %>
      <tr>
        <td><%= barber.name %></td>
        <td><%= barber.avatar %></td>
        <td><%= barber.instagram %></td>
        <td><%= barber.phone %></td>
        <td><%= barber.photo %></td>
        <td><%= barber.shop %></td>
        <td><%= link_to 'Show', [barber.shop, barber] %></td>
        <td><%= link_to 'Edit', root_path %></td>
        <td><%= link_to 'Destroy', [barber.shop, barber], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


      <div class:"barber_name"> <%= @barbers.name %> </div>
<!-- whats going on here -->

<%= link_to 'New Barber', new_shop_barber_path %>




  <div class:"searchbox" >
    <input id="pac-input" class="controls" type="text"
    placeholder="zipcode" autocomplete="off" style="z-index: 0; position: absolute; left: 50%; top: 0px; text-align: center;">
  </div>
  <div id="map"></div>
