<p id="notice"><%= notice %></p>
<%= image_tag @barber.avatar.url %>
<p>
  <strong>Name:</strong>
  <%= @barber.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @barber.avatar %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @barber.instagram %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @barber.shop %>
</p>

<%= link_to 'Edit', edit_shop_barber_path(@barber.shop, @barber) %> |
<%= link_to 'Back', shop_barbers_path(@barber.shop) %>
