<p id="notice"><%= notice %></p>
<%= image_tag @barber.avatar.url(:square) %>
<p>
  <strong>Name:</strong>
  <%= @barber.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @barber.avatar %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @barber.instagram %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @barber.shop %>
</p>

<!--  @instagram.each do |instagram|  -->

<!--  image_tag instagram.images.thumbnail.url  -->

 <!-- end  -->

<% @barber ||= current_barber %>
<div class="stats">
  <a href="<%= following_barber_path(@barber) %>">
    <strong id="following" class="stat">
      <%= @barber.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_barber_path(@barber) %>">
    <strong id="followers" class="stat">
      <%= @barber.followers.count %>
    </strong>
    followers
  </a>
</div>

 

<%= link_to 'Edit', edit_shop_barber_path(@barber.shop, @barber) %> |
<%= link_to 'Back', shop_barbers_path(@barber.shop) %>
