<p id="notice"><%= notice %></p>
<%= image_tag @barber.avatar.url(:square) %>
<p>
  <strong>Name:</strong>
  <%= @barber.name %>
</p>


<p>
  <strong>Instagram:</strong>
  <%= @barber.instagram %>
</p>


<!--  @instagram.each do |instagram|  -->

<!--  image_tag instagram.images.thumbnail.url  -->

 <!-- end  -->

<% @barber ||= current_barber %>
<div class="stats">
  <!-- <a href=" following_barber_path(@barber) "> -->
    <strong id="following" class="stat">
      <%= @barber.following.count %>
    </strong>
    following
  </a>
  <!-- <a href=" followers_barber_path(@barber) "> -->
    <strong id="followers" class="stat">
      <%= @barber.followers.count %>
    </strong>
    followers
  </a>
</div>


<div class="row">

	<div class="col-md-4">

		<%= image_tag @barber.avatar.url(:barber_show), class: "barber-show" %>

	</div>

	<div class="col-md-8">

		<div class="book-info">

			<h2 class="book-title"><%= @barber.name %></h2>
			<h3 class="book-author"><span>From</span> <%= @barber.name %></h3>
			<h2 class="avg-rating">Average Rating</h2>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews">Based on <%= @barber.reviews.count %> reviews</span>

		</div>
	</div>


</div>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">

			<!-- Where the reviews/ratings will go -->
			<h1>Reviews</h1>
			<%= render @barber.reviews %>

			<div>
				<%= link_to "Add Review", new_barber_review_path(@barber), class: "btn-custom" %>
			</div>

		</div>

	</div>

</div>

<div class="links btn-group">



</div>


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>


<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<!-- <div class="fb-comments" data-href="http://localhost:3000/shops/1/barbers/2" data-numposts="5"></div> -->


<% if @barber == current_barber %>
<%= link_to 'Edit', edit_barber_path(@barber) %> |
<%= button_to 'Destroy', @barber, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', shop_path(@shop) %>
