<div class="container profile-container">

<div class="col-md-4 left-container">
  <%= link_to shop_path(@shop) do  %>
      <i class="fa fa-angle-double-left fa-1x"> </i> Back <!--  targeting css for going back shop show case -->
  <% end %>


  <!-- profile picture been uplead it to amazon ms3 service  -->

  <div class="profile-pic"><%= image_tag @barber.avatar.url(:square) %></div>

  <!-- followers for barber -->

  <div class="stats">
    <!-- <a href=" following_barber_path(@barber) "> -->
      <!-- <strong id="following" class="stat">
        <%= @barber.following.count %>
      </strong>
      following
    </a> -->
    <!-- <a href=" followers_barber_path(@barber) "> -->
      <strong id="followers" class="stat">
        <%= @barber.followers.count %>
      </strong>
      followers
    </a>
  </div>

<!-- -------------------------------------------------------------- -->
<!-- barber name  -->
  <div class="profile-info">
    <%= @barber.name %> <br>

  </div>

  <!-- the instagram been pull from user profile -->

  <!-- <div class="col-md-12">
    <% @instagram.each do |instagram| %>
      <div class="col-md-6">
        <%= image_tag instagram.images.thumbnail.url  %>
      </div>
     <% end %>
  <% @barber ||= current_barber %>

  </div> -->



</div>



      <!--  booking calander right side -->


<div class="col-md-8">
  <div id="bookingjs">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
    <script type="text/javascript">
      window.timekitBookingConfig = {
        name: 'Steven Bates',
        email: 'roger.rodriguez666@gmail.com',
        apiToken: 'TiG0KedJkkdRstOU4pj9CP6Daod0U0zg',
        calendar: '0b1cddd7-30c3-4865-b9f1-b50f190b3f0b',
        timekitFindTime: {
          filters: {
            and: [
              {
                business_hours: { }
              },
              {
                exclude_weekend: { }
              }
            ]
          }
        },
        avatar: 'http://bushwickdaily.com/wp-content/uploads/2013/01/03.jpg'
      }
    </script>
  </div>
</div>





<!-- ------------------------------------------------------------------ -->
<!-- facebook comments  -->

<div class="fb-comments" data-href="http://localhost:3000/shops/1/barbers/2" data-numposts="5"></div>

<!-- --------------------------------------------------------------------->
<!-- barber powers -->
<% if @barber == current_barber %>
<%= link_to 'Edit', edit_barber_path(@barber) %> |
<%= button_to 'Destroy', @barber, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
