<p id="notice"><%= notice %></p>
<%= image_tag @barber.avatar.url(:square) %>
<p>
  <strong>Name:</strong>
  <%= @barber.name %>
</p>


<p>
  <strong>Instagram:</strong>
  <%= @barber.instagram %>
</p>


<!--  @instagram.each do |instagram|  -->

<!--  image_tag instagram.images.thumbnail.url  -->

 <!-- end  -->

<% @barber ||= current_barber %>
<div class="stats">
  <!-- <a href=" following_barber_path(@barber) "> -->
    <strong id="following" class="stat">
      <%= @barber.following.count %>
    </strong>
    following
  </a>
  <!-- <a href=" followers_barber_path(@barber) "> -->
    <strong id="followers" class="stat">
      <%= @barber.followers.count %>
    </strong>
    followers
  </a>
</div>


<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @barber, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Rating: <%= rating_for @barber, "Rating", space: true, stars: 10 %>
    <% end %>
  </div>
</div>

<div class="fb-comments" data-href="http://localhost:3000/shops/1/barbers/2" data-numposts="5"></div>

<%= link_to 'Edit', edit_shop_barber_path(@barber.shop, @barber) %> |
<%= link_to 'Back', shop_barbers_path(@barber.shop) %>



<% if @barber == current_barber %>
<%= link_to 'Edit', edit_barber_path(@barber) %> |
<%= button_to 'Destroy', @barber, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'back', shop_path(@shop) %>
