<!DOCTYPE html>
<html>
<head>
  <title>Stylez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_QuTTTgggaYz61nA2JVp3m2cpxIYPxU&libraries=places&callback=initAutocomplete"
         async defer></script>
</body>
</html>
